<div class="container text-center mt-5">
  <h1>Welcome to the Signal NGRX Testing Example</h1>

  <div class="mt-5 p-5 border">
    <h3 class="">Parent Component </h3>
    <button type="button" (click)="counterStore.increment()" class="btn btn-primary btn-success mt-3 mr-3">Increment
    </button>
    <button type="button" [disabled]="counterStore.count() == 0" (click)="counterStore.decrement()"
            class="btn btn-primary btn-danger mt-3  mr-3">Decrement
    </button>
    <button type="button" [disabled]="counterStore.count() == 0" (click)="counterStore.reset()"
            class="btn btn-primary btn-danger btn-ifo mt-3 ">Reset
    </button>
    <div class="mt-4">{{ counterStore.count() }}</div>
  </div>

  <app-testing-counter></app-testing-counter>

</div>



